@using Levi9Library.Core
@using Levi9Library.MVC.Models
@model HistoryViewModel
@{
	ViewBag.Title = "History";
}

<br />
<br />

<h3 style="float: right;">Your score: @Model.UserScore</h3>

<br />
<br />

<h3>Lending history</h3>
<br />
<table id="bookHistory" class="table table-hover">
	<thead>
		<tr>
			<th>Author</th>
			<th>Title</th>
			<th>Book Score</th>
			<th>DateBorrowed</th>
			<th>DateReturned</th>
		</tr>
	</thead>
	@foreach (var entry in Model.BorrowedBooks)
	{
		<tr>
			<td>@Html.DisplayFor(modelItem => entry.Author)</td>
			<td>@Html.DisplayFor(modelItem => entry.Title)</td>
			<td>@Html.DisplayFor(modelItem => entry.BookScore)</td>
			<td>@Html.DisplayFor(modelItem => entry.DateBorrowed)</td>
			@if (entry.DateReturned.Equals(StaticValues.DefaultDateTime))
			{
				<td>
					@Html.ActionLink("Return", "Return", new { bookId = entry.BookId })
				</td>
			}
			else
			{
				<td>
					@Html.DisplayFor(modelItem => entry.DateReturned)
				</td>
			}

		</tr>
	}
</table>