@using PagedList
@using Levi9Library.MVC.Models
@using PagedList.Mvc
@model IPagedList<BookViewModel>
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
	Layout = "~/Views/Shared/_Layout.cshtml";
	ViewBag.Title = "Admin Home";
	ViewBag.CreateAction = "Url.Action('Create', 'Home')";
}

<input type="button" class="float-right" value="Add new book" onclick="location.href=@ViewBag.CreateAction" />

<h3>Book Inventory</h3>

@using (Html.BeginForm())
{
	<div class="input-group">
		@Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "form-control", placeholder = "Search by Author or Title" })
		<span class="input-group-btn">
			<button class="btn btn-default" type="button">
				<span class="glyphicon glyphicon-search"></span>
			</button>
		</span>
	</div>
}


@if (Model.Count == 0)
{
	<p>Currently the inventory is empty.</p>
}
else
{
	<table id="bookInventory" class="table table-hover">
		<thead>
		<tr>
			<th>Author</th>
			<th>Title</th>
			<th>Book Score</th>
			<th>Stock</th>
			<th>@*Actions*@</th>
		</tr>
		</thead>
		@foreach (var entry in Model)
		{
			<tr>
				<td>@Html.DisplayFor(modelItem => entry.Author)</td>
				<td>@Html.DisplayFor(modelItem => entry.Title)</td>
				<td>@Html.DisplayFor(modelItem => entry.BookScore)</td>
				<td>@Html.DisplayFor(modelItem => entry.Stock)</td>
				<td>@Html.ActionLink("Edit", "Edit", new { bookId = entry.BookId }) | @Html.ActionLink("Delete", "Delete", new { bookId = entry.BookId })</td>
			</tr>
		}
	</table>
	<br />

	<p>Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount</p>

	@Html.PagedListPager(Model, page => Url.Action("Manage",
		new { currentFilter = ViewBag.CurrentFilter, page }))
}
