@using Levi9Library.MVC.Models
@model BookViewModel

@{
	ViewBag.Title = "Create";
}

<h3 class="h3-with-margin">Create</h3>

@using (Html.BeginForm())
{
	@Html.AntiForgeryToken()
	@Html.ValidationSummary(true)
	<fieldset>
		<legend>Book</legend>

		<div class="custom-label">
			Title:
			<span class="custom-field">
				@Html.EditorFor(model => model.Title)
				@Html.ValidationMessageFor(model => model.Title)
			</span>
		</div>

		<div class="custom-label">
			Author:
			<span class="custom-field">
				@Html.EditorFor(model => model.Author)
				@Html.ValidationMessageFor(model => model.Author)
			</span>
		</div>

		<div class="custom-label">
			Book Score:
			<span class="custom-field">
				@Html.EditorFor(model => model.BookScore)
				@Html.ValidationMessageFor(model => model.BookScore)
			</span>
		</div>

		<div class="custom-label">
			Stock:
			<span class="custom-field">
				@Html.EditorFor(model => model.Stock)
				@Html.ValidationMessageFor(model => model.Stock)
			</span>
		</div>

		<p>
			<input type="submit" class="btn btn-default" value="Create" />
			<input type="button" class="btn" value="Cancel" onclick="location.href='@Url.Action("Manage", "Book")'" />
		</p>
	</fieldset>
}