@using Levi9Library.MVC.Models
@model BookViewModel

@{
	ViewBag.Title = "Edit";
}

<h3 class="h3-with-margin">Edit</h3>

@*@if((ViewBag.Stock != null && ViewBag.Stock < Model.BorrowedCount) || TempData["StockLessThanBorrowed"] != null)*@
@if(TempData["StockLessThanBorrowed"] != null)
{
	<div class="alert alert-danger alert-dismissable">
		<a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
		@*Stock can't be less than the number of books currently borrowed: @Model.BorrowedCount.*@
		@TempData["StockLessThanBorrowed"].ToString()
	</div>
} 

@using (Html.BeginForm())
{
	@Html.AntiForgeryToken()
	@Html.ValidationSummary(true)
	<fieldset>
		<legend>Book</legend>

		@Html.HiddenFor(model => model.BookId)

		<div class="custom-label">
			Title:
			<span class="custom-field">
				@Html.EditorFor(model => model.Title)
				@Html.ValidationMessageFor(model => model.Title)
			</span>
		</div>

		<div class="custom-label">
			Author:
			<span class="custom-field">
				@Html.EditorFor(model => model.Author)
				@Html.ValidationMessageFor(model => model.Author)
			</span>
		</div>

		<div class="custom-label">
			Book Score:
			<span class="custom-field">
				@Html.EditorFor(model => model.BookScore)
				@Html.ValidationMessageFor(model => model.BookScore)
			</span>
		</div>

		<div class="custom-label">
			Stock:
			<span class="custom-field">
				@Html.EditorFor(model => model.Stock)
				@Html.ValidationMessageFor(model => model.Stock)
			</span>
		</div>

		<p>
			<input type="submit" class="btn btn-default" value="Save" />
			<input type="button" class="btn" value="Cancel" onclick="location.href='@Url.Action("Manage", "Book")'" />
		</p>
	</fieldset>
}