@using Levi9Library.Models
@model ICollection<LibraryViewModels.LendingHistoryViewModel>
@{
	ViewBag.Title = "History";
}

<br />
<br />
<h3 style="float: right;">Your score: @User.Identity.GetUserScore()</h3>

<br />
<br />

<h3>Lending history</h3>
<br />
<table id="bookHistory" class="table table-hover">
	<thead>
		<tr>
			<th>Author</th>
			<th>Title</th>
			<th>Book Score</th>
			<th>DateBorrowed</th>
			<th>DateReturned</th>
		</tr>
	</thead>
	@foreach (var entry in Model)
	{
		<tr>
			<td>@Html.DisplayFor(modelItem => entry.Author)</td>
			<td>@Html.DisplayFor(modelItem => entry.Title)</td>
			<td>@Html.DisplayFor(modelItem => entry.BookScore)</td>
			<td>@Html.DisplayFor(modelItem => entry.DateBorrowed)</td>
			@if (@entry.DateReturned == default(DateTime))
			{
				<td>
					@Html.ActionLink("Return", "Return", new { id = entry.BookId })
				</td>
			}
			else
			{
				<td>
					@entry.DateReturned
				</td>
			}

		</tr>
	}
</table>