@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using Levi9Library.Models
@model ICollection<Book>
@{
	ViewBag.Title = "Home Page";
}

<br />
<br />
@if (TempData["NewUserScore"] != null)
{
	<h3 style="float: right;">Your score: @TempData["NewUserScore"]</h3>
}
else
{
	<h3 style="float: right;">Your score: @User.Identity.GetUserScore()</h3>
}

<br />
<br />

<h3>Books available for lending</h3>
<br />

@if (TempData["AlreadyBorrowed"] != null)
{
	@*	<div class="modal" id="borrowed-modal">
			<div class="modal-dialog">
				<div class="modal-body">
					<p>You are already borrowing this book. Please return that copy before requesting another one.</p>
				</div>
				<div class="modal-footer">
					<a href="#" class="btn modal-btn">Close</a>
				</div>
			</div>
		</div>*@

	<div class="alert alert-danger alert-dismissable">
		<a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
		@TempData["AlreadyBorrowed"].ToString()
	</div>

	<br/>
}

@if (TempData["Success"] != null)
{
	<div class="alert alert-success alert-dismissable">
		<a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
		@TempData["Success"].ToString()
	</div>

	<br />
}



<table id="availableBooks" class="table table-hover">
	<thead>
	<tr>
		<th>
			Author
		</th>
		<th>
			Title
		</th>
		<th>
			Book Score
		</th>
		<th>@*Borrow*@</th>
	</tr>
	</thead>
	@foreach (var book in Model)
	{
		<tr>
			<td>
				@Html.DisplayFor(modelItem => book.Author)
			</td>
			<td>
				@Html.DisplayFor(modelItem => book.Title)
			</td>
			<td>
				@Html.DisplayFor(modelItem => book.BookScore)
			</td>
			@if(@book.Stock > 0)
			{
				@*<td><a href='#'>Borrow</a></td>*@
				<td>
					@Html.ActionLink("Borrow", "Borrow", new {id = book.BookId})
				</td>
			}
			else
			{
				<td>Not<,> available</td>
			}
		</tr>
	}
</table>
